[Unit]
Description=Process Monitor service

[Service]
WorkingDirectory=/usr/local/etc/process_monitor
ExecStart=/usr/local/bin/process_monitor bash

[Install]
WantedBy=multi-user.target
